.contactPage {
	label {
		color: $mist-green;
		font-size: $m-size;
		padding-bottom: 1rem;
	}
	input {
	    margin-bottom: 1rem;
	    line-height: 2;
	}
	textarea {
		height: 20rem;
    	width: auto;
	}
}
.contactPage__title {
	text-align: center;
}
.contactPage__social {
	display: flex;
	justify-content: center;
	a {
		color: $mist-green;
		text-decoration: none;
		&:first-child {
			padding-right: 2rem;
		}
		&:hover {
			color: $honey;
		}
	}
}
.contactPage__form {
    display: flex;
    flex-direction: column;
    margin: 4rem !important;
}
.contactPage__message {
    height: 15rem;
}
#contactPage__submitButton {
	color: white;
	background-color: $mist-green;
	margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    &:hover {
    	background-color: $honey;
    }
    &:disabled {
    	background-color: #d3d3d3;
    }
}
@media (min-width: $desktop-breakpoint) {
	.contactPage__form {
		margin: 4rem 30rem;
		padding-left: 25rem;
    	padding-right: 25rem;
	}
	.contactPage__submitButton {
		margin-top: 2rem;
    	margin-left: 20rem;
    	margin-right: 20rem;
	}
}