.header {
	background-color: $morningsky-blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2rem;
}
.header__title {
	font-size: $l-size;
	font-style: italic;
	text-decoration: none;
	color: white;
	margin: auto;
	padding-bottom: 1rem;
}
.header__nav {
	margin: auto;
}
.header__navItems {
	color: $mist-green;
	padding-left: 2rem;
	text-decoration: none;
}
.header__navItems:hover {
	color: $cerulean-blue;
}
@media (min-width: $desktop-breakpoint) {
	.header {
		flex-wrap: none;
	}
}