.modal-wrapper {
	padding-bottom: 4rem;
	* {
		text-align: center;
	}
}
.modal-footer {
	button {
		color: white;
		background-color: $morningsky-blue;
		&:hover {
			background-color: $honey;
		}
	}
}