.portfolio {
	padding-bottom: 5rem;
	h1 {
		color: $cerulean-blue;
	}
}
.portfolio__title {
	text-align: center;
}
.portfolio__itemsContainer {
	display: flex;
	flex-wrap: wrap;
	padding-right: 2rem;
	padding-left: 2rem;
	margin-bottom: 5rem;
}
.portfolio__itemLinkContainer { 
	display: flex;
    flex-direction: column;
	text-align: center;
	height: 25rem;
	width: 100%;
	padding-bottom: 10rem;
  	a, img {
		max-width: 100%;
        max-height: 100%;
        align-self: center;
        object-fit: cover;
        background-color: $honey;
  	}
  	img {
  		&:hover {
  			opacity: 0.7;
  		}
  	}
}
.portfolio__item {
	align-self: center;
	height: 100%;
	margin-top: $s-size;
	text-decoration: none;
	p {
		border: 1px solid;
		color: $mist-green;
		font-family: 'Montserrat', sans-serif;
		font-size: $m-size;
		font-weight: 700;
		padding-right: 15%;
	    padding-left: 15%;
	    padding-top: 0.5rem;
	    padding-bottom: 0.5rem;
		&:hover {
			color: $honey;
		}
	}
}
@media (min-width: $desktop-breakpoint) {
	.portfolio__itemLinkContainer {
		width: (100%/3);
	}
}