html {
	// rems in base of 10
	font-size: 62.5%;
	height: 100%;
}

body {
	background: white;
	color: $cerulean-blue;
	font-family: 'Volkhov', serif, Helvetica, Arial, sans-serif;
	font-size: $m-size;
	position: relative;
	min-height: 100vh;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}

.pageContainer {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}